@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
html {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  text-align: center;
}

/** HOME **/
/*.home  .continue-button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: #3457d2;
  padding: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  width: 200px;
  align-content: space-between;

}

.home  .signUp-button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: #45a320;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 200px;
  cursor: pointer;
  align-content: space-between;
  margin-right: 100px;
}*/
/*

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position:absolute;
    top: 50%;
    left: 50%;
   }
*/


.overlay {
  background-image: linear-gradient(to bottom right, #ffffff00);
  opacity: .8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 15% 32px;
  line-height: 1.5;
  text-align: center;

/*:last-child {
  margin-bottom: 0;
}*/

}
.calgary {
  font-size: xx-large;
  color: white;
  position: center;
}

#signUp-button {
  font-size: xx-large;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: lightgrey;
  margin-right: 20px;
}

#continue-button {
  font-size: xx-large;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: gray;

}

/*

.signUp-button:hover {
  background: linear-gradient(260deg, #3457d2,#45a320);
}

.continue-button:hover {
  background: linear-gradient(260deg, #3457d2,#45a320);
}*/

/*.content {
  position: fixed;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  padding:20px;
}*/
/**TRENDING **/
.spin-button{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  background: #45a320;
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
}
/** REELS **/
.reels {
  align-content: center;
}

.video {
  height: auto;
  display: block;
  align-content: center;
}

/**DASHBOARD**/
.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  padding: 1em 0.3em;
  border-color: black;

}

#search-container input:focus{
  border-bottom-color:#3457d2 ;
}

#search-container button{
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #3457d2;
  color: white;
  border-radius: 5px;
  margin-top: 0.5em;
}



#buttons button {
  border: 2px solid #3457d2;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #3457d2;
  cursor: pointer;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button{
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator{
  opacity: 0;
}

/*** CREATE ACCOUNT/LOGIN ***/
.h1 create {
  text-align: center;
}

.create .form input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number] {
  width: 300px;
  height: 25px;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}


/** CALENDAR **/
/*.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #3457d2;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
!*.react-calendar__month-view__days__day--weekend {
 color: #d10000;
}*!

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #45a320;
  color: white;
  border-radius: 6px;
  font-weight: bold;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #3457d2;
  border-radius: 6px;
  font-weight: bold;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #3457d2;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #3457d2;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #3457d2;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #3457d2;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #3457d2;
  color: white;
}*/

/** SW **/
:root {
  --app-font: 'Quicksand', 'Lato', sans-serif;
  --neutral-color: white;
}

.App {
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
}

/** WHEEL **/
:root {
  --wheel-font: 'Lato', 'Quicksand', sans-serif;
  --wheel-size: 400px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color: #fd0000;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0.25s;
}

.wheel-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  padding: 3px;
  margin: auto;
  background-color: var(--neutral-color);
  border: solid var(--wheel-color) 3px;
  border-radius: 50%;
  user-select: none;
}

.wheel-container::before,
.wheel-container::after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: var(--wheel-color);
}

.wheel-container::after {
  right: -5px;
  border-right-color: var(--neutral-color);
}

.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--wheel-color) var(--wheel-border-size);
  background-color: var(--wheel-color);
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  transition: transform var(--spinning-duration);
  transform: rotate(calc(var(--nb-turn) * 360deg + (-360deg * var(--selected-item) / var(--nb-item, 1))));
}

.wheel::after {
  display: block;
  position: absolute;
  content: '';
  background-color: var(--neutral-color);
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;

  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));


  color: var(--neutral-color);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: var(--wheel-font);
}

.wheel-item:before {
  content: ' ';
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;

 

  /*
    Largeur du triangle
    Je ne sais pas pourquoi j'ai besoin d'ajouter
      " + var(--wheel-size) / 2 " dans slice-max-width  ==> donne 2.PI.R + R
    mais globalement ca marche a peu près bien
    TODO: A étudier
  */
  
  --slice-max-width: calc(var(--PI) * var(--wheel-size) + var(--wheel-size) / 2);
  --slice-width: calc((var(--slice-max-width) / var(--nb-item)) - var(--wheel-slice-spacing));
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;
  border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
}

.border{
  border-radius:30px;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}
.boxShadow{
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}
.scrollPic{
  overflow: scroll;
}
.scrollPic{
  overflow: scroll;
}

.header{
  display: flex;
  height: 100px;
  background-color: black;
  
  
}
.title{
 margin-right: 40px ;
 margin-top: 10px;
 margin-left: 70px;
 color:white
 /* margin-left: 30px; */
}
.botton{
  margin-top: 19px;
  width: 150px;
}
.search{
  width: 900px;
  height: 50px;
  margin-top: 20px;
  margin-right: 30px;
  background: rgb(218, 215, 215);
}

.footer{
  /* width: 100%; */
  position: fixed;
          /* padding: 10px 0px 0px 0px; */
          bottom: 0;
          background: rgba(255, 255, 255, 0.7);
          align-items: center;
          margin: auto;
          /* margin-left:  240px; */
          display: block;
}

.reel {
  margin: 30px;
  border-radius: 30px;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  height: 600px;

}

/**WINSPORT**/
.Winsport {
  display: flex;
  float: right;
}

.sport {
  color: white;
  border-style: solid;
  background-color: #555555;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}

.sport:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

img {
  width: 800px;
  margin-top: 50px;
  margin-left: 30px;
}

.winsport {
  padding: 10px;
  text-align: justify;
  font-size: x-large;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.heading-winsport{
  text-align: center;
  font-weight: 900;
  font-size: 120px;
  margin-bottom: 50px;
}

.border {
  cursor: pointer;
}

.sport-button {
  font-size: xx-large;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  background-color: #3457d2;
  position: relative;
  left: 400px;
  bottom:300px;

}

.sport-button-div {
  display: inline-block;
  margin-left: 50px;
}


/**SPORTS**/
.sports-map {
  position: fixed;

}




